@mixin tag-lg {
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  color: #fff;
}
.job {
  display: flex;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #fff;

  &__info {
    .company-name {
      display: inline-block;
    }

    .new-tag {
      @include tag-lg;
      background-color: rgb(100, 186, 187);
    }

    .featured-tag {
      @include tag-lg;
      background-color: rgb(42, 56, 56);
    }
  }
}
