@import 'mixins.scss';

.job {
  display: flex;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba($color: $dark-gray, $alpha: 0.2);

  &.featured {
    border-left: 4px solid $dark-green;
  }

  &__info {
    flex-grow: 1;

    h3,
    h5 {
      margin: 0.5rem 0;
    }

    span {
      font-size: 12px;
    }

    .company-name {
      display: inline-block;
      color: $dark-green;
    }

    .new-tag {
      @include tag-lg;
      background-color: $light-green;
    }

    .featured-tag {
      @include tag-lg;
      background-color: $dark-gray;
    }

    .details {
      color: $light-gray;
      text-transform: capitalize;

      span:not(:first-child) {
        display: list-item inline;
        list-style-type: disc;
        list-style-position: inside;
        margin: 0 0.4em;
      }
    }
  }

  &__tags {
    align-self: center;
    .job-tag {
      @include tag-sm;
    }
  }
}
