$dark-green: rgb(93, 165, 164);
$light-green: rgb(100, 186, 187);
$lightest-green: rgb(238, 247, 244);
$dark-gray: rgb(42, 56, 56);
$light-gray: rgb(174, 177, 176);

@mixin tag-lg {
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

@mixin tag-sm {
  background-color: $lightest-green;
  color: $dark-green;
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  padding: 5px;
  margin: 0 .5em;
  font-size: 10px;
  cursor: pointer;
}